doctype html
html    
  head
    title Meet Dance Academy
    block scripts 
    block style
  body 
    nav#navbar 
        ul
            div#logo
                img(src="/static/img/logo.png")
                | MDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact us]           

    block content 
    footer#footer 
        | Copyright © 2022 MeetDanceAcademy.com | All rights reserved
    